*.csv
*.gif
*.svg
*.webp
*.bmp
*.tiff
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.xml
*.xls
*.xlsx
.ftpquota
.svn/
.DS_Store
Thumbs.db
img/
media/
ficheros/
files/
css/**/images/
system/cache/
application/helpers/qlib/cache/
