*.csv
*.gif
*.svg
*.webp
*.bmp
*.tiff
*.pdf
*.png
!img/pwa/icon-192.png
!img/pwa/icon-512.png
*.jpg
*.jpeg
*.gif
*.xml
*.xls
*.xlsx
.ftpquota
.svn/
.DS_Store
Thumbs.db
img/*
!img/pwa/
!img/pwa/**
media/
ficheros/
files/
css/**/images/
system/cache/
application/helpers/qlib/cache/
