<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Service-Worker-Allowed" value="/" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="CacheBusterServiceWorker" stopProcessing="true">
          <match url="^service-worker\.js$" />
          <action type="Rewrite" url="service-worker.js" />
          <serverVariables>
            <set name="RESPONSE_CACHE_CONTROL" value="no-cache, no-store, must-revalidate" />
            <set name="RESPONSE_PRAGMA" value="no-cache" />
            <set name="RESPONSE_EXPIRES" value="-1" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
