/* CSS Document */

*{ 
	padding:0; margin:0;
 }

body
{
	/*font-family:"Myriad Web Pro"; */
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	//font-weight:600;
	color:#054990;
	background-color:#CCCCCC;
/*cursor*/
}

a
{
	color:#054990;
	font-size:11px;
	text-decoration: underline;
}

a:link
{
    text-decoration: none;
}

img
{
	border:none;
}

.main
{
	width:1200px;
	//border:solid 0.1px;
	background-color:#CCCCCC;
	margin:0px auto;
	min-height:700px;
	//-moz-border-radius: 7px;
	//-webkit-border-radius: 7px;
}

	
h3.principal
{
	font-size: 14px;
	color:#9a9b9a;
}

.header
{
	width:100%;
	background: color:#000;
	height: 20px;
	border:none;
}

.arriba
{
	min-height:99px;
	width:1200px;
}

.titulitoEncabezado
{
	float:left; 
	width:610px; 
	line-height:100px;
	font-size:18px;
	font-weight:600;
	color:#0285C0;
}

.imagenEncabezado
{
	float:left; 
	width:100px; 
	line-height:60px; 
	text-align:right;
}

.top
{
	background-color:#0285C0;
    border-radius: 7px;
	width: 98%;
	height: 50px;
	color:#FFF;
	text-align:left;
	font-size:13px;
	margin-left:1%;
	font-weight:600;
}

div.cuerpo
{
	 width:100%;
	 float:left;
	 background-color:transparent;
	 //background-color:#FFF; //Por si acaso cambiamos color 
 
}

div.izquierda
{
	width:240px;
	//background-color:#000;
	height:auto; 
	float:left;
	min-height:420px;
	border-radius: 7px;
	margin-left:1%;
	
}

div.lineaDegradado
{
	width:97%;
	min-height:3px;
	//-moz-border-radius: 7px;
	//-webkit-border-radius: 7px;
	margin-left:1.5%;
	
	background-image: linear-gradient(left , rgb(255,255,255) 1%, rgb(41,155,204) 36%, rgb(41,155,204) 54%, rgb(255,255,255) 93%);
background-image: -o-linear-gradient(left , rgb(255,255,255) 1%, rgb(41,155,204) 36%, rgb(41,155,204) 54%, rgb(255,255,255) 93%);
background-image: -moz-linear-gradient(left , rgb(255,255,255) 1%, rgb(41,155,204) 36%, rgb(41,155,204) 54%, rgb(255,255,255) 93%);
background-image: -webkit-linear-gradient(left , rgb(255,255,255) 1%, rgb(41,155,204) 36%, rgb(41,155,204) 54%, rgb(255,255,255) 93%);
background-image: -ms-linear-gradient(left , rgb(255,255,255) 1%, rgb(41,155,204) 36%, rgb(41,155,204) 54%, rgb(255,255,255) 93%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	right bottom,
	color-stop(0.01, rgb(255,255,255)),
	color-stop(0.36, rgb(41,155,204)),
	color-stop(0.54, rgb(41,155,204)),
	color-stop(0.93, rgb(255,255,255))
);

}

div.lineaDegradadoPie
{
	width:97%;
	min-height:3px;
	//-moz-border-radius: 7px;
	//-webkit-border-radius: 7px;
	margin-left:1.5%;
	
	background-image: linear-gradient(left , rgb(41,155,204) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(41,155,204) 91%);
background-image: -o-linear-gradient(left , rgb(41,155,204) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(41,155,204) 91%);
background-image: -moz-linear-gradient(left , rgb(41,155,204) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(41,155,204) 91%);
background-image: -webkit-linear-gradient(left , rgb(41,155,204) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(41,155,204) 91%);
background-image: -ms-linear-gradient(left , rgb(41,155,204) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(41,155,204) 91%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	right bottom,
	color-stop(0.01, rgb(41,155,204)),
	color-stop(0.46, rgb(255,255,255)),
	color-stop(0.49, rgb(255,255,255)),
	color-stop(0.91, rgb(41,155,204))
);

}


div.lineadegradadoMenu
{
	width:97%;
	min-height:1px;
	//-moz-border-radius: 7px;
	//-webkit-border-radius: 7px;
	margin-left:1.5%;
	margin-top:4%;
	
	background: rgb(59,103,158); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(125,185,232,1) 0%, rgba(43,136,217,1) 0%, rgba(32,124,202,1) 40%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(left, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	);  
}


div.derecha
{
	width:900px;
	background-color:#FFF;
	float:right;
	min-height:650px;
	height:auto !important;
	border-radius: 7px;
	margin-right:3%;
}

div.derecha div.barra
{
	width:97%;
	font-size:15px;
	font-weight:600;
	background-color:#0285C0;
	text-align:left;
	height:35px;
	color:#FFF;
	border-radius: 9px;
	text-align:center;
	line-height:35px;
	margin-left:1.5%;
	margin-top:1.5%;
}

div.footer
{
	width: 98%;
	text-align: center;
	background-color:#0285C0;		
	height: 60px;
	color: #fff;
	font-size: 19px;
	border-radius: 7px;
	margin-left:1%;
	//line-height:60px;
	//margin-bottom:2%;
}

.menusito
{
	width: 100%;
	//background-color:#0285C0;		
	height: 60px;
	border-radius: 7px;
	color:#FFF;
	font-size:14px;
}

.menusito:hover
{
	background: rgb(59,103,158); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(125,185,232,1) 50%, rgba(43,136,217,1) 0%, rgba(32,124,202,1) 40%, rgba(125,185,232,1) 50%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(left, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	);  

}
	

/* Estilo de Autocompletado */
.ui-autocomplete-loading { background: white url('../../img/ui-anim_basic_16x16.gif') right center no-repeat; }
.ui-autocomplete {
		max-height:200px;
		overflow-y:auto;
		     width:175px;
		text-align:justify;
	}
	
.ui-autocomplete a div {
		border-bottom:1px solid #BEBEBE;
		  border-left:none;
		 border-right:none;
		   border-top:none;
	}
	
.ui-autocomplete a label {
		color:#464646;
		font-weight:bold;			
	}	
	
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
* html .ui-autocomplete {
		height:200px;
		width:175px;
	}

.ui-dialog label{
       color:#054990;
   font-size:12px;
}

.ui-dialog .cajas{
       color:#054990;
   font-size:12px;
}

.header .theader{
    width: 1200px;
    margin: 0 auto;
    color: #000;
}
.title_system{
    width: 700px;
    text-align: center;
}
.title_system h1{
    text-align: center;
}
.theader a{
    color: #000;
}

	
table.header
{
	background-color:#C4B699;
	font-family:"Trebuchet MS";
	font-weight:bold;
	color:#FFF;
}

table.header label
{
	color:#054990;
	font-weight:bold;
}

h1
{
	color:#000;
	font-size:21px;
}

div.izquierda table.menu
{
	width: 100%;
}

div.izquierda table.menu th
{
	font-size:12px;
	text-align:left;
	padding-left:2px;
	font-weight:normal;
}

div.izquierda table.menu a
{
	color:#FFFFFF;
	font-weight:bold;
}

#izquierda ul
{
    border: 1px solid #FFF;
}

div.derecha div.submenu
{
	width:97%;
	margin-top:10px;
	text-align:left;
	margin-left:1.5%;
	font-size:13px;
	//background-color:#F2F2F2;
	border-radius: 7px;
	height:75px;
	
	background-image: linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -o-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -moz-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -webkit-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -ms-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);

	background-image: -webkit-gradient
	(
		linear,
		left bottom,
		right bottom,
		color-stop(0.01, rgb(242,242,242)),
		color-stop(0.46, rgb(255,255,255)),
		color-stop(0.49, rgb(255,255,255)),
		color-stop(0.91, rgb(242,242,242))
	);
	
}

div.derecha div.submenu a
{
	text-decoration:none;
}

div.derecha div.submenu label
{
	display:inline;
}

div.derecha div.submenu a
{
	text-decoration:none;
}

div.derecha div.listproyectos{
width:99%;
float:left;
margin-top:10px;

}

div.derecha div.listproyectos form{
float:left;
width:100%;
}

div.derecha div.listproyectos form fieldset{
    border: 1px solid #000;
    width: auto;
    height: auto;
}
/*Tables*/

table label
{
 	 vertical-align:middle;
       font-size:13px;
}

/*Stilo tablas*/
.admintable tbody
{
	background:#fff;
	cursor:pointer;
}

.admintable td
{
	padding:3px;
	border-bottom:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	vertical-align:middle;
}

.admintable img
{
    border:none;
}


.admintable th
{
	padding:3px;
	border-bottom:1px solid #d5d5d5;
	background-color:#f6f6f6;
	font-weight:normal;
	font-size:13px;
	//font-family:"Trebuchet MS";
	vertical-align:middle;
	color:#000;/*  */
	border-radius: 10px;
}

.admintable caption
{
	color:#586e83;
	font-weight:normal;
	text-align:center;
	padding-right:8px;
}

.admintable thead
{
	height:25px;
	color:#265f7a;
	/*vertical-align:top;*/
}
/**ESTILOS PARA TABLAS INFORMACION*/
table.admintable td
{
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 3px;
	padding-left: 3px;
	font-size:11px;
	color:#696969;
}

table.admintable tr.sombreado
{
	background-image: linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -o-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -moz-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -webkit-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -ms-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);

	background-image: -webkit-gradient
	(
		linear,
		left bottom,
		right bottom,
		color-stop(0.01, rgb(242,242,242)),
		color-stop(0.46, rgb(255,255,255)),
		color-stop(0.49, rgb(255,255,255)),
		color-stop(0.91, rgb(242,242,242))
	);
}

table.admintable tr.sinSombra
{
	/*background-image: linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -o-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -moz-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -webkit-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);
	background-image: -ms-linear-gradient(left , rgb(242,242,242) 1%, rgb(255,255,255) 46%, rgb(255,255,255) 49%, rgb(242,242,242) 91%);

	background-image: -webkit-gradient
	(
		linear,
		left bottom,
		right bottom,
		color-stop(0.01, rgb(242,242,242)),
		color-stop(0.46, rgb(255,255,255)),
		color-stop(0.49, rgb(255,255,255)),
		color-stop(0.91, rgb(242,242,242))
	);*/
}

table.admintable tr.sinSombra:hover
{
	background-image: linear-gradient(right , #D2D6D3 9%, #F2F2F2 40%, #F2F2F2 61%, #D2D6D3 89%);
	background-image: -o-linear-gradient(right , #D2D6D3 9%, #F2F2F2 40%, #F2F2F2 61%, #D2D6D3 89%);
	background-image: -moz-linear-gradient(right , #D2D6D3 9%, #F2F2F2 40%, #F2F2F2 61%, #D2D6D3 89%);
	background-image: -webkit-linear-gradient(right , #D2D6D3 9%, #F2F2F2 40%, #F2F2F2 61%, #D2D6D3 89%);
	background-image: -ms-linear-gradient(right , #D2D6D3 9%, #F2F2F2 40%, #F2F2F2 61%, #D2D6D3 89%);
	
	background-image: -webkit-gradient
	(
		linear,
		right top,
		left top,
		color-stop(0.09, #D2D6D3),
		color-stop(0.4, #F2F2F2),
		color-stop(0.61, #F2F2F2),
		color-stop(0.89, #D2D6D3)
	);
}

table.admintable tr.sombreado:hover
{
	background-image: linear-gradient(right , #D2D6D3 9%, #F2F2F2 40%, #F2F2F2 61%, #D2D6D3 89%);
	background-image: -o-linear-gradient(right , #D2D6D3 9%, #F2F2F2 40%, #F2F2F2 61%, #D2D6D3 89%);
	background-image: -moz-linear-gradient(right , #D2D6D3 9%, #F2F2F2 40%, #F2F2F2 61%, #D2D6D3 89%);
	background-image: -webkit-linear-gradient(right , #D2D6D3 9%, #F2F2F2 40%, #F2F2F2 61%, #D2D6D3 89%);
	background-image: -ms-linear-gradient(right , #D2D6D3 9%, #F2F2F2 40%, #F2F2F2 61%, #D2D6D3 89%);
	
	background-image: -webkit-gradient
	(
		linear,
		right top,
		left top,
		color-stop(0.09, #D2D6D3),
		color-stop(0.4, #F2F2F2),
		color-stop(0.61, #F2F2F2),
		color-stop(0.89, #D2D6D3)
	);
}


table.admintable td img
{
    border:none;
}

table.admintable td a
{
	text-decoration:none;
	color:#054990;
	//font-weight:bold;
}

table.admintable th a
{
	text-decoration:none;
	color:#696969;
	//font-weight:bold;
}


table.admintable tr.devolucion td a, tr.devolucion td
{
	color:red;
}

table.admintable td.key, table.admintable td.paramlist_key
{
	background-color: #f6f6f6;
	text-align: right;
	width: 230px;
	color: #666666;
	font-weight: bold;
	border: 1px solid #e9e9e9;
}

table.admintable td.SubKey
{
	background-color: #f6f6f6;
	color: #666666;
	font-weight: bold;
	border: 1px solid #e9e9e9;
}
table.admintable td:hover{
 /*cursor:pointer;*/
}

.btn{
	border:1px solid #DFD6BE;
     font-size:12px;
    background:#F4F4F4;
	 color:#054990;
   margin-left:5px;
    margin-top:5px;	
         width:100px;
        height:23px;	
}

.TextArea{
border:1px solid #DFD6BE;
font-size:12px;
background:#F4F4F4;
color:#054990;	
}

.cajasColores{
	border:1px solid #DFD6BE;
     font-size:12px;
    background:#F4F4F4;
	 color:#054990;
   margin-left:5px;
    margin-top:5px;	
        height:18px;
         width:5%;		
}

.cajas
{
	border:1px solid #DFD6BE;
	font-size:12px;
	background:#F4F4F4;
	color:#054990;
	margin-left:5px;
	margin-top:5px;	
	height:18px;
	width:41%;		

}

.cajasProductos{
	border:1px solid #DFD6BE;
     font-size:12px;
    background:#F4F4F4;
	 color:#054990;
   margin-left:5px;
    margin-top:5px;	
        height:18px;
         width:60%;		
}

.cajasSelect{
	border:1px solid #DFD6BE;
     font-size:12px;
    background:#F4F4F4;
	 color:#054990;
   margin-left:5px;
    margin-top:5px;	
        height:18px;
         width:auto;		
}


.cajasTel{
	border:1px solid #DFD6BE;
     font-size:12px;
    background:#F4F4F4;
	 color:#054990;
   margin-left:5px;
    margin-top:5px;	
        height:18px;
         width:20%;		
}

.cajasFax{
	border:1px solid #DFD6BE;
     font-size:12px;
    background:#F4F4F4;
	 color:#054990;
   margin-left:5px;
    margin-top:5px;	
        height:18px;
         width:10%;		
}

.cajasFile{
	border:1px solid #DFD6BE;
    font-size:12px;
    background:#F4F4F4;
	color:#054990;
    margin-left:5px;
    margin-top:5px;	
    height:25px;
    width:41%;		
}

.box_articulos{
	margin:0 5px 0 5px;
	color:#ff0000;
	background-color:#F3F3F3;
    border:1px solid #DFD6BE;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
}

.txtmsjadv{
	margin:0 5px 0 5px;
	color:#ff0000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	text-align:center;
}



	
	
div.footer a{
	color:#999999;
	text-decoration:none;
}
div.footer a:hover{
	text-decoration:underline;
}

/* Facturas */

/*Stilo tablas*/
.factura tbody{
	background:#fff;
}
.factura td{
	padding:3px;
        border:1px solid #d5d5d5;
	/*border-bottom:1px solid #d5d5d5;*/
}

.factura td.sl{
  	padding:3px;
        border:none;
}

.factura td.slb{
  	padding:3px;
        border-top:none;
	border-bottom:none;
        border-left:1px solid #d5d5d5;
        border-right:1px solid #d5d5d5;
}


.factura thead{
	height:25px;
	color:#265f7a;
}

/**ESTILOS PARA TABLAS INFORMACION*/
table.factura td{
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	font-size:11px;
	color:#696969;
	font-size:12px;
	font-family:"Arial";
}

table.factura td.No{
 font-size:17px;
text-align:center;
     color:#D8000C;
}

table.factura input.cajas{
    background-color:#FFF;
               color:#535353;
           font-size:12px;
              border:1px solid #d5d5d5;
    width:60%;
    text-align:center;
}

table.factura input.cajass{
    background-color:#f6f6f6;
               color:#535353;
           font-size:13px;
              border:none;
          text-align:left;
          width:300px;
}


table.factura td.titulos
{
	text-align:center;
	vertical-align:middle;
}

table.factura td.cabe
{
	background-color:#000000;
	color:#FFFFFF;
	text-align:center;
	font-weight:bold;
}

table.factura td.pie
{
	text-align:justify;
	font-size:10px;
	color:#000000;
	font-weight:bold;
}


table.factura td.key, table.admintable td.paramlist_key{
	background-color: #f6f6f6;
	text-align: right;
	width: 230px;
	color: #666666;
	font-weight: bold;
	border: 1px solid #e9e9e9;
}

table.factura td:hover{
 /*cursor:pointer;*/
}

/*
 * Para mensages
*/

.info_system, .success_system, .warning_system, .error_system, .validation_system {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position:10px center;
}
.info_system {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../../images/info.png');
font-family:Verdana;
font-size:12px;
}
.success_system {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../../img/success.png');
font-family:Verdana;
font-size:12px;
}
.warning_system {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../../img/warning.png');
font-family:Verdana;
font-size:12px;
}
.error_system {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../../img/error.png');
font-family:Verdana;
font-size:12px;
}
.validation_system{
color: #D63301;
background-color: #FFCCBA;
background-image: url('../../img/validation.png');
}
.errors_system{
	color:#D8000C;
}

.formulario .error{
	color:#a52a2a;
}


/*  Complemento del Error */

.error_cpt{
  font-size:12px;
       width:91%;
 margin-left:4%;
}

/* Stilo de Tabs*/

.Tabs{
padding: 0;
width: 90%;
border-top: 1px solid #b3b3b3;

voice-family: "\"}\"";
voice-family: inherit;
margin-top: 8px;
margin-left:4%;
}

.Tabs ul{
margin:0;
margin-left:2px;
padding: 0;
list-style: none;
}Documentos

.Tabs li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.Tabs a
{
  float: left;
display: block;
   font: bold 12px Arial;
  color: #b3b3b3;
text-decoration: underline;
         margin: 0 4px 0 0; 
        padding: 5px 10px 9px 10px; 

 -moz-border-radius-bottomleft: 5px;
     border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.Tabs a:hover{
     padding-top: 9px; 
  padding-bottom: 5px;
           color: #000000;
}

.Tabs .current a{ 
background-color: #f6f6f6; 
     padding-top: 9px; 
  padding-bottom: 5px; 
           color: #000000;
           
}

/* == Pagination === */
ul
{
   border:0;
   margin-left:2%;
   /*margin:0; */
  	padding:0;
}
#pagination-digg li
{
	border:0; margin:0; padding:0;
	font-size:12px;
	list-style:none;
	margin-right:2px;
	display:inline;
}
#pagination-digg a
{
	/*border:solid 1px #265F7A;*/
	margin-right:2px;
}

#pagination-digg .previous-off, #pagination-digg .next-off 
{
	//border:solid 1px #265F7A;
	color:#265F7A;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding:3px 4px;
}
#pagination-digg .next a, #pagination-digg .previous a {
	font-weight:bold;
}
#pagination-digg .active
{
/*	background:#265F7A;
	color:#FFFFFF;
*/
	//background-color:#EBEBEB;
	color:#000;
	font-weight:bold;
	display:block;
	float:left;
	
	padding:3px 4px;
}
#pagination-digg a:link, #pagination-digg a:visited 
{
	color: #0285C0;
	display:block;
	float:left;
	padding:3px 4px;
	text-decoration:none;
	font-size:12px;
}
#pagination-digg a:hover
{
	//border:solid 1px #265F72;
    background-color:#EBEBEB;
	color:#265F7A;
	/*
	background-color:#265F7A;
	color:#ffffff;
	*/
}


.pagination_detail
{
	text-align:right;
	color:#265F7A;
	padding-right:20px;
	padding-top:2px;
}

.Error_validar
{
	width:95%;
	float:left;
	color: #D8000C;
	background-color: #FFBABA;
	font-family:Verdana;
	font-size:12px;	
	border: 1px solid;
	margin: 10px 0px;
	padding:5px 3px 7px 10px;
	background-repeat: no-repeat;
	background-position:10px center;
}

.ExitoRespuesta
{
	width:95%;
	float:left;
	color: #4F8A10;
	background-color:#DFF2BF;
	font-family:Verdana;
	font-size:12px;	
	border: 1px solid;
	margin: 10px 0px;
	padding:5px 3px 7px 10px;
	background-repeat: no-repeat;
	background-position:10px center;
}

.DeudasPagos
{
	color:#ff0000;
    font-size:10pt;
}

.OcultarCapa{
display:none;
}

.MuestraCapa{
display:block;
}

/*Menus*/

div.toolbar
{
	
	padding: 0;
}

table.toolbar 
{
	border-collapse: collapse; 
	padding: 0; 
	margin: 0;
	margin-top:9px;
}

table.toolbar td 
{ 
	padding: 1px 1px 1px 4px; 
	text-align: center; 
	color: #0285C0; 
	height: 48px;
	font-size:11px;
	font-weight:600;
 	
}

table.toolbar td.spacer  { width: 10px; }
table.toolbar td.divider { border-right: 1px solid #eee; width: 5px; }

table.toolbar span { float: none; width: 32px; height: 32px; margin: 0 auto; display: block; }

table.toolbar a 
{
    display: block; float: left;
	white-space: nowrap;
	border: 1px solid #fbfbfb;
	color: #0285C0;
	padding: 1px 5px;
	cursor: pointer;
	border:none;

}

table.toolbar a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0285C0;
}


table.toolbar span
{
	float: none;
	width: 32px;
	height: 32px;
	margin-top: 0pt;
	margin-right: auto;
	margin-bottom: 0pt;
	margin-left: auto;
	display: block;
	background-repeat:no-repeat;
}

.suggestionsBox 
{
	position: relative;
	left: 30px;
	margin: 10px 0px 0px 0px;
	width: 200px;
	background-color: #212427;
	//background-color: #b3b3b3;
	border-radius: 7px;
	border: 2px solid #000;	
	color: #fff;
}
	
.suggestionList 
{
	margin: 0px;
	padding: 0px;
}

.suggestionList li 
{
	margin: 0px 0px 3px 0px;
	padding: 3px;
	cursor: pointer;
}

.suggestionList li:hover 
{
	background-color: #659CD8;
}
	
	.textos
	{
		font-size:16px;
	}
	
	.textosRosa
	{
		color: #906;
		font-size:16px;
	}
	
	#caja
	{
		//width:70%;
		display: none;
		//padding:5px;
		//border:2px solid #FADDA9;
		//background-color:#FDF4E1;
	}
	
	#mostrar
	{
		display:block;
		//width:70%;
		//padding:5px;
		//border:2px solid #D0E8F4;
		//background-color:#ECF8FD;
	}
	
/*=================================================================================*/
ul.menu_color
{
	list-style:none;
	
}
ul.menu_color li
{
	
	//border-left:1px solid #ccccff;
	display:block;
	position:relative;
	width:230px;
	height:65px;
	color:#FFF;
	font-size:13px;
	font-weight:600;
	cursor:pointer;
	
	background-image: linear-gradient(left , rgb(51,131,184) 13%, rgb(98,169,204) 35%, rgb(98,169,204) 72%, rgb(51,131,184) 98%);
	background-image: -o-linear-gradient(left , rgb(51,131,184) 13%, rgb(98,169,204) 35%, rgb(98,169,204) 72%, rgb(51,131,184) 98%);
	background-image: -moz-linear-gradient(left , rgb(51,131,184) 13%, rgb(98,169,204) 35%, rgb(98,169,204) 72%, rgb(51,131,184) 98%);
	background-image: -webkit-linear-gradient(left , rgb(51,131,184) 13%, rgb(98,169,204) 35%, rgb(98,169,204) 72%, rgb(51,131,184) 98%);
	background-image: -ms-linear-gradient(left , rgb(51,131,184) 13%, rgb(98,169,204) 35%, rgb(98,169,204) 72%, rgb(51,131,184) 98%);

	background-image: -webkit-gradient
	(
		linear,
		left top,
		right top,
		color-stop(0.13, rgb(51,131,184)),
		color-stop(0.35, rgb(98,169,204)),
		color-stop(0.72, rgb(98,169,204)),
		color-stop(0.98, rgb(51,131,184))
	);
 	
}

ul.menu_color ul
{
	position:absolute;
	left:226px;
	top:-1px;
	display:none;
	list-style:none;
}
ul.menu_color li:hover
{
	//border-bottom:1px solid #ccccff;
	//border-left:1px solid blue;
	
	background-image: linear-gradient(left , rgb(108,197,217) 13%, rgb(155,220,250) 35%, rgb(155,220,250) 72%, rgb(108,197,217) 98%);
	background-image: -o-linear-gradient(left , rgb(108,197,217) 13%, rgb(155,220,250) 35%, rgb(155,220,250) 72%, rgb(108,197,217) 98%);
	background-image: -moz-linear-gradient(left , rgb(108,197,217) 13%, rgb(155,220,250) 35%, rgb(155,220,250) 72%, rgb(108,197,217) 98%);
	background-image: -webkit-linear-gradient(left , rgb(108,197,217) 13%, rgb(155,220,250) 35%, rgb(155,220,250) 72%, rgb(108,197,217) 98%);
	background-image: -ms-linear-gradient(left , rgb(108,197,217) 13%, rgb(155,220,250) 35%, rgb(155,220,250) 72%, rgb(108,197,217) 98%);

	background-image: -webkit-gradient
	(
		linear,
		left top,
		right top,
		color-stop(0.13, rgb(108,197,217)),
		color-stop(0.35, rgb(155,220,250)),
		color-stop(0.72, rgb(155,220,250)),
		color-stop(0.98, rgb(108,197,217))
	);
}

ul.menu_color li:hover > ul
{
	display:block;
}

.sinbordes
{
	-moz-border-radius: 0px
}

.bordesAbajo
{
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topleft: 0px;
}

.bordesArriba
{
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topright: 0px;
}

.letras
{
	float:right; 
	margin-top:25px; 
	width:165px
}




